################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharp/v17/.wsuo
/CSharpExamples/.vs/CSharpExamples/FileContentIndex
/CSharpExamples/.vs/CSharpExamples
bin
obj
packages
*.suo
*.user
/CSharpExamples/CSharp6.0Samples/obj/*.json
/.vs/slnx.sqlite
